.EightBall {
    
    margin: 50px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 255);
    padding: 30px;
    text-align: center;
    cursor: pointer;
  }

.button{
   align-items: center;
   display:flex;
   margin-left: 100px;
   border: 2px black solid;
   padding: 5px;
    border-radius: 5px;
    background-color:aqua;
    color: black;
}
   
 